In [10]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [11]:
df = pd.read_csv('covid_toy.csv')

In [12]:
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [13]:
X_train

    age  gender  fever   cough       city
4    65  Female  101.0    Mild     Mumbai
27   33  Female  102.0  Strong      Delhi
86   25    Male  104.0    Mild  Bangalore
45   72    Male   99.0    Mild  Bangalore
79   48  Female  103.0    Mild    Kolkata
..  ...     ...    ...     ...        ...
55   81  Female  101.0    Mild     Mumbai
22   71  Female   98.0  Strong    Kolkata
90   59  Female   99.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
64   42    Male  104.0    Mild     Mumbai

[80 rows x 5 columns]

In [14]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [15]:
transformer.fit_transform(X_train).shape

C:\Users\batmayn\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

(80, 7)

In [16]:
transformer.transform(X_test).shape

(20, 7)